[init]
	defaultBranch = main
[user]
	name = Andres Hung
	email = 2018118240@ub.edu.bz
[core]
	autocrlf = input
  editor = vim
  pager = delta
[pull]
	rebase = false
[alias]
	unstage = restore --staged
	last = log -1 HEAD
